$main-color: black;
$secondary-color: rgb(255, 0, 0);
$police-titre: 'Bebas Neue', sans-serif;
$police-texte: 'MuseoModerno', sans-serif;
$min-h-scroll-anim: 98vh;
$color-scroll-anim: $main-color;
$color-scroll-anim2: white;
